<ion-view view-title="Artists">
  <ion-content class="padding">
    <br>
    <br>
    <h2>Welcome to MusicAppr</h2>
    <ion-searchbar>
      <input placeholder="Search">
      </input>
    </ion-searchbar><br>

    <div>
      <button ng-click="vm.soundResults('65576692')"> Search</button>
    </div>
    <div ng-repeat="detail in vm.soundResults">
      <div style="height: 100px; width: 300px;border: 3px solid black">{{detail.band}}</div>
      <div style="height: 100px; width: 300px;border: 3px solid black">{{detail.bandUrl}}</div>

    </div>



  </ion-content>
</ion-view>
