<ion-view view-title="Artists">
  <ion-content class="padding">
    <br>
    <br>
    <h2>Welcome to MusicAppr</h2>
    <ion-searchbar>
      <input placeholder="Search">
      </input>
    </ion-searchbar><br>

    <div>
        <div>{{ artist.artist }}</div>
        <div>{{ artist.songs }}</div>
        <button ng-click="vm.getNewReleases()">New releases</button>
        <button ng-click="vm.loginSpotify()">Login</button>
    </div>


    <h5>
    Display random list of artists from spotify api
    </h5>
  </ion-content>
</ion-view>
